// colors 
// hsl(150,100%,66%)
// hsl(219,22%,16%)
// hsl(217, 19%,38%)
// hsl(217, 19%, 24%)
// hsl(193, 38%,86%)

$colors: (
    body_bg-color: hsl(219,22%,16%),
    main_bg-color: hsl(217, 19%, 24%),
    main-titleText-color: hsl(150,100%,66%),
    main-adviceText-color: hsl(193, 38%,86%),
    main-generatorBtnBg-color: hsl(150,100%,66%),
    main-generatorBtnIcon-color: hsl(219,22%,16%)    
)